.form_group{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px black;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
}

.form_content a{
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
}

.form_control{
    padding: 8px;
    border-radius: 10px;
    border: solid 1px #ccc;
}

.form_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.form_image{
    width: 500px;
    height: 450px;
}

@media screen and (max-width: 600px) {
    .form_image{
        width: 300px;
        height: 250px;
    }   
}