.title{
    display: flex;
    position: absolute;
    color: black;
    bottom: 0;
    margin-left: 10px;
    z-index: 100;
}

.emoji{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}