.btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-success{
    border: solid 1px green;
    background-color: green;
}

.btn-danger{
    border: solid 1px red;
    background-color: red;
}

.btn-success:hover{
    background-color: white;
    color: green;
}

.btn-danger:hover{
    background-color: white;
    color: red;
}