.btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-success{
    border: solid 1px #218838;
    background-color: #218838;
}

.btn-danger{
    border: solid 1px #dc3545;
    background-color: #dc3545;
}

.btn-success:hover{
    background-color: white;
    color: #218838;
}

.btn-danger:hover{
    background-color: white;
    color: #dc3545;
}

.error-message{
    background-color: #dc3545;
    color: white;
    text-align: center;
    width: 100%;
}

.form_control{
    padding: 8px;
    border-radius: 10px;
    border: solid 1px #ccc;
}