.pagesMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagesList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style: none;
    margin-left: 35px;
}

.pagesList a{
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.pagesList a:hover{
    color: gray;
}

.createPageForm{
    display: flex;
}