.pagesMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagesList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style: none;
    gap: 5px;
    margin-left: 25px;
}

.createPageForm{
    border: solid 1px black;
}

.createPageInput{
    height: 30px;
    border: none;
}

.createPageInput:focus{
    outline: none;
}

.createPageBtn{
    width: 30px;
    border-radius: 0px;
    border: none;
    border-left: solid 1px black;
    color: white;
    background-color: #218838;
}

.createPageBtn:hover{
    cursor: pointer;
}

.pageLinkTitle{
    display: flex;
    white-space: nowrap;     
    overflow: hidden;         
    text-overflow:ellipsis;  
    width: 90%;
}

.pagesList a{
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.pagesList a:hover{
    color: gray;
    text-decoration: underline;
}

.createPageForm{
    display: flex;
}

.pageLink{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.deletePage{
    background-color: transparent;
    border: none;
    cursor: pointer;
}